:root {
    --button-background-color: rgb(87, 133, 198);
    --button-font-color: white;
}

button {
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

#close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 0;
    right: 10px;
    font-size: 1rem;
}

#add-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    top: 0;
    right: 10px;
    font-size: 1rem;
}

textarea {
    max-width: 100%;
    width: 100%;
    height: 100px;
}

.body-form {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
  
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    gap: 30px;
    position: relative;
}

.body-form p {
    padding: 15px;
    margin-bottom: -30px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.fill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px; 
    width: 100%; 
}

.fill label {
    white-space: nowrap; /* Prevent labels from wrapping */
}

.fill input {
    flex: 1; /* Allows the input to take up remaining space */
    width: 100%; /* Ensures input fills available space */
    padding: 2px; /* Adds spacing inside input */
    font-size: 16px;
}

.fill.duties {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    width: 100%;
} 

.fill.degrees {
    display: flex;
    justify-content: center;    
}

.fill.name {
    display: flex;
    flex-direction: row;
} 
  
.error-message {
    color: red;
    font-size: 0.9rem;
}
  
input[aria-invalid="true"] {
    border-color: red;
}

.saved-data-container h3{
    text-align: center;
}

.saved-info {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}


.education-row, .work-row {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: relative;
    margin-bottom: 1rem;
}

.delete-btn {
    margin-left: auto;
    width: 100px;
    align-self: center;
    text-align: center;
}

.save-btn {
    width: 100%;
}

.center-save-button {
    display: flex;
    justify-content: center;
}
